* {
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  transition: 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
body {
  background-color: White;
}
.ham {
  width: 40px;
  height: 40px;
  background: White;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 80;
  position: fixed;
  top: 15px;
  right: 20px;
}
.line1, .line2, .line3{
  background: black;
  border-radius: 3px;
  width: 25px;
  height: 3px;
  margin: 2px;
}
button {
  height:38px;
  background: #4064ff;
  border:0%;
  padding-left: 20px;
  padding-right:20px;
  color:#fffff;
  bottom: right;
}
button_1 {
  height:38px;
  background:#e8491d;
  border:0%;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
ul{
  margin:0;
  padding:0;
}
button_1 {
  height:38px;
  background: #4064ff;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#fffff;
}
.active .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.link{    
  left: 0%;
}
nav ul {
  left: -50%;
  position: fixed;
  height: 100vh;
  width: 30%;
  background: White;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul h1{
  color: #fff;
}
ul li{
  text-align:center;
  padding:15px 0;
  width: 100%;
}
ul li:hover{
  background: 26A69A;
  padding-left: 7%;
  width:93%; 
}
li a{
  color: #fffff;
}
.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}    
.card > img { 
   width: 200px;
   height: 300px;
   border: 5px solid;
   padding: 10px;    
   text-align: center;
   background: url("image/rathanaphon.jpg");
   box-shadow: 0 15px 30px rgba(0,0,0,0.30);
   box-sizing: border-box;
   display: auto;
}
footer {
  padding:20px;
  margin-top:20px;
  color: White;
  background: black;
  margin-bottom: 1%;  
}
footer-a {  
  color: White;  
  background: black;
  text-decoration: none;  
  margin-bottom: 25;  
}
.text{
  padding:1px 10px 1px 10px;
  color:#fffff;
  }
p{
    margin: auto;
}


