* {
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  transition: 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
body {
  background-color: White;
}
.ham {
  width: 40px;
  height: 40px;
  background: Gray rgba(0, 255, 0, 1.0);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 90;
  position: fixed;
  top: 15px;
  right: 20px rgba(0,0,0,0.30);
}
.line1, .line2, .line3{
  background: White;
  border-radius: 3px;
  width: 25px;
  height: 3px;
  margin: 2px;
}
header{
  border:1.5px solid rgb(42,43,58);
  padding-top:5px;
  padding-bottom:5px;
  position:relative;
  background:rgb(250,250,250);
  box-shadow:0px 0px 5px grey;
  transform:translateX(-50%);
  border-radius:2px;
  left:50%;
  width:95%;
  margin-top:25px;
}
#textToSearch{
  border:1px solid grey;
  padding:2px 5px;
  height:40px;
  border-radius:2px;
}
button {
  height:38px;
  background: #4064ff;
  border:0%;
  padding-left: 20px;
  padding-right:20px;
  color:#ffff;
  bottom: right;
}
ul{
  margin:0;
  padding:0;
}
.active .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.link{    
  left: 0%;
}
nav ul {
  left: -50%;
  position: fixed;
  height: 100vh;
  width: 30%;
  background: White;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul h1{
  color: #fffff;
}
ul li{
  text-align:center;
  padding:15px 0;
  width: 100%;
}
ul li:hover{
  background: 26A69A;
  padding-left: 7%;
  width:93%; 
}
li a{
  color: #fffff;
}
.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}
log.img {
    width: 200px;
    height: 350px;
    box-shadow: inset;
}
.card > img { 
   width: 200px;
   height: 300px;
   border: 5px solid;
   padding: 10px;    
   text-align: center;
   background: url("https://rathanaphon.github.io/img/rathanaphon.jpg");
   box-shadow: 0 15px 30px rgba(0,0,0,0.30);
   box-sizing: border-box;
   display: auto;
}
footer {
  padding:20px;
  margin-top:20px;
  color: White;
  background: black;
  margin-bottom: 1%;  
}
footer-a {  
  color: White;  
  background: black;
  text-decoration: none;  
  margin-bottom: 25;  
}
.text{
  padding:1px 10px 1px 10px;
  color:#ffff;
}

