body {
    margin: 0%;
    color: blue;
    background-color: auto;
}
img {
    width: 200px;
    height: 350px;
    box-shadow: inset;
    background-image: url("img/url.rathanaphon.png");
    background-image: url(http://localhost:%s);
}
footer {
    margin-top: auto;
    background-color: blue;
    color: #ffff;
}
