body {
    margin: 0%;
    color: blue;
    background-color: auto;
}
img {
    width: 200px;
    height: 350px;
    box-shadow: inset;
    background-image: -webkit-image-set("img/url.rathanaphon.png"),
}
footer {
    margin-top: auto;
    background-color: blue;
    color: #ffff;
}
